<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joshboles.dayoff">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <application
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name="com.joshboles.dayoff.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.joshboles.dayoff.FullSplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.joshboles.dayoff.MessageActivity"
            android:label="@string/title_activity_message" >
        </activity>
        <activity
            android:name="com.joshboles.dayoff.ContactActivity"
            android:label="@string/title_activity_contact" >
        </activity>
    </application>

</manifest>